@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    direction: rtl;
    lang: he;
  }

  body {
    font-family: var(--font-hebrew);
    background-color: white;
    color: #000000;
  }

  a {
    color: #d60b25;
  }
}

/* Project utilities */
@layer utilities {
  .bg-toyota-primary {
    background-color: #d60b25;
  }
  .text-toyota-primary {
    color: #d60b25;
  }
  .ring-toyota-primary {
    --tw-ring-color: #d60b25;
  }
}
