@import 'tailwindcss';

:root {
  --background: hsl(210 40% 98.0392%);
  --foreground: hsl(217.2414 32.5843% 17.451%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(217.2414 32.5843% 17.451%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(217.2414 32.5843% 17.451%);
  --primary: hsl(217.2193 91.2195% 59.8039%);
  --primary-foreground: hsl(210 40% 98.0392%);
  --secondary: hsl(214.2857 31.8182% 91.3725%);
  --secondary-foreground: hsl(217.2414 32.5843% 17.451%);
  --muted: hsl(210 40% 96.0784%);
  --muted-foreground: hsl(215.3846 16.318% 46.8627%);
  --accent: hsl(214.2857 31.8182% 91.3725%);
  --accent-foreground: hsl(217.2414 32.5843% 17.451%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(210 40% 98.0392%);
  --border: hsl(214.2857 31.8182% 91.3725%);
  --input: hsl(214.2857 31.8182% 91.3725%);
  --ring: hsl(217.2193 91.2195% 59.8039%);
  --chart-1: hsl(221.2121 83.1933% 53.3333%);
  --chart-2: hsl(213.1169 93.9024% 67.8431%);
  --chart-3: hsl(211.6981 96.3636% 78.4314%);
  --chart-4: hsl(213.3333 96.9231% 87.2549%);
  --chart-5: hsl(214.2857 94.5946% 92.7451%);
  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(217.2414 32.5843% 17.451%);
  --sidebar-primary: hsl(217.2193 91.2195% 59.8039%);
  --sidebar-primary-foreground: hsl(210 40% 98.0392%);
  --sidebar-accent: hsl(210 40% 96.0784%);
  --sidebar-accent-foreground: hsl(217.2414 32.5843% 17.451%);
  --sidebar-border: hsl(214.2857 31.8182% 91.3725%);
  --sidebar-ring: hsl(217.2193 91.2195% 59.8039%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.5rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.1;
  --shadow-color: #1e293b;
  --shadow-2xs: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.05);
  --shadow-xs: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.05);
  --shadow-sm: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.1),
    0px 1px 2px -0.75px hsl(217.2414 32.5843% 17.451% / 0.1);
  --shadow: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.1),
    0px 1px 2px -0.75px hsl(217.2414 32.5843% 17.451% / 0.1);
  --shadow-md: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.1),
    0px 2px 4px -0.75px hsl(217.2414 32.5843% 17.451% / 0.1);
  --shadow-lg: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.1),
    0px 4px 6px -0.75px hsl(217.2414 32.5843% 17.451% / 0.1);
  --shadow-xl: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.1),
    0px 8px 10px -0.75px hsl(217.2414 32.5843% 17.451% / 0.1);
  --shadow-2xl: 0px 0.5rem 1rem 0.25rem hsl(217.2414 32.5843% 17.451% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(222.2222 47.3684% 11.1765%);
  --foreground: hsl(214.2857 31.8182% 91.3725%);
  --card: hsl(217.2414 32.5843% 17.451%);
  --card-foreground: hsl(214.2857 31.8182% 91.3725%);
  --popover: hsl(217.2414 32.5843% 17.451%);
  --popover-foreground: hsl(214.2857 31.8182% 91.3725%);
  --primary: hsl(217.2193 91.2195% 59.8039%);
  --primary-foreground: hsl(210 40% 98.0392%);
  --secondary: hsl(215.2941 25% 26.6667%);
  --secondary-foreground: hsl(214.2857 31.8182% 91.3725%);
  --muted: hsl(217.2414 32.5843% 17.451%);
  --muted-foreground: hsl(215 20.2247% 65.098%);
  --accent: hsl(215.2941 25% 26.6667%);
  --accent-foreground: hsl(214.2857 31.8182% 91.3725%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(210 40% 98.0392%);
  --border: hsl(215.2941 25% 26.6667%);
  --input: hsl(215.2941 25% 26.6667%);
  --ring: hsl(217.2193 91.2195% 59.8039%);
  --chart-1: hsl(221.2121 83.1933% 53.3333%);
  --chart-2: hsl(213.1169 93.9024% 67.8431%);
  --chart-3: hsl(211.6981 96.3636% 78.4314%);
  --chart-4: hsl(213.3333 96.9231% 87.2549%);
  --chart-5: hsl(214.2857 94.5946% 92.7451%);
  --sidebar: hsl(217.2414 32.5843% 17.451%);
  --sidebar-foreground: hsl(214.2857 31.8182% 91.3725%);
  --sidebar-primary: hsl(217.2193 91.2195% 59.8039%);
  --sidebar-primary-foreground: hsl(210 40% 98.0392%);
  --sidebar-accent: hsl(215.2941 25% 26.6667%);
  --sidebar-accent-foreground: hsl(214.2857 31.8182% 91.3725%);
  --sidebar-border: hsl(215.2941 25% 26.6667%);
  --sidebar-ring: hsl(217.2193 91.2195% 59.8039%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.75rem;
  --shadow-blur: 1.25rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.4;
  --shadow-color: #0f172a;
  --shadow-2xs: 0px 0.75rem 1.25rem 0.25rem
    hsl(222.2222 47.3684% 11.1765% / 0.2);
  --shadow-xs: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.2);
  --shadow-sm: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.4),
    0px 1px 2px -0.75px hsl(222.2222 47.3684% 11.1765% / 0.4);
  --shadow: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.4),
    0px 1px 2px -0.75px hsl(222.2222 47.3684% 11.1765% / 0.4);
  --shadow-md: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.4),
    0px 2px 4px -0.75px hsl(222.2222 47.3684% 11.1765% / 0.4);
  --shadow-lg: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.4),
    0px 4px 6px -0.75px hsl(222.2222 47.3684% 11.1765% / 0.4);
  --shadow-xl: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 0.4),
    0px 8px 10px -0.75px hsl(222.2222 47.3684% 11.1765% / 0.4);
  --shadow-2xl: 0px 0.75rem 1.25rem 0.25rem hsl(222.2222 47.3684% 11.1765% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
